body {
    background-color: rgb(224, 221, 221);
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

  .header {
    background-color: white;
    padding: 1px;
    margin: 0px;
    
    
}

.titulo {
    background-color: white;
    text-align: center;
        font-size: 28px;
        margin: 0px;
                          }

h1 {
    font-size: 33px;
    text-align: center;
}

h2 {
    float:left;
    text-align: center;
    font-size: 17px;
    margin-left: 12px;
}

h3 {
    float: right;
    margin-right: 17px;
    color: rgb(189, 183, 183);
    font-size: 14px;
}

h4 {
    margin-left: 12px;
    text-align:left;
    }

.foto1 {
    width: 500px;
    height: 463px;
    margin: auto;
    background-color: white ;
    text-align: center;
    font-size: 17px;
            }

.foto2 {     
    width: 500px;
    height: 428px;       
    margin: auto;
    background-color: white ;
    text-align: center;
    font-size: 17px;
            }

 .foto3 {
 width: 500px;
 height: 447px;
 margin: auto;
 background-color: white ;
 text-align: center;
 font-size: 17px;
 }

 .foto4 {
            width: 500px;
            height: 460px;
            margin: auto;
            background-color: white ;
            text-align: center;
            font-size: 17px;
                                  }

.descripcion
{ 
    margin: 12px;
    text-align: left;
color:rgb(107, 105, 105)
}
